# binary and project files do not need to be
# included in the repository due to premake

# directories
.vs/
bin/
bin-int/

# files
*.bat
*.sln
*.user
*.vcxproj
*.pdn
*.vcxproj.filters
*.cap
Makefile
imgui.ini