[submodule "Simplex/vendor/spdlog"]
	path = Simplex/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Simplex/vendor/GLFW"]
	path = Simplex/vendor/GLFW
	url = https://gitlab.com/Sympleque/glfw.git
[submodule "Simplex/vendor/imgui"]
	path = Simplex/vendor/imgui
	url = https://github.com/Sexy-Spice/imgui
	branch = docking
